.container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    background-color: #f4f1ec;
    padding: 10px;
}

.back2Top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 30px; /* Increase font size */
  }

  .back2Top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  

  /* Another tablet breakpoint is maximum width of 1024px */
  @media only screen and (min-width: 1024px) {
   body{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
   }
   .profilehead{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
   }

   .profilehead > img{
    margin:auto;
  }
  
   nav {
    position: fixed;
    font-family: "Bungee", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    top: 0;
    width: 100%;
    z-index: auto;
    background-color: #4056a1;
    background-image: none;
    color: #ffff;
    padding: 1.5em;
  }
}