nav{
    font-family: 'Bungee', sans-serif;
    position: fixed;
    height: 100px;
    top: 0;
    width: 100%;
    z-index: auto;
    background-color: #4056A1;
    color: #FFFF;
    padding: 1.5em;
   }
  
   span{
     font-family: 'Bungee', sans-serif;
   }