.container {
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans PRo', sans-serif;
}
.new-tweet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
 background-color: #FFE1B5;
resize: none;
width: 100%;
height: 40px;
margin: 0;
border-width:0 0 5px;
border-color: black;
}

.tweetbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Bungee", sans-serif;
}

.button {
    background-color: #4056A1;
    ; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.error{
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #dc3545;
    border-radius: 4px;
    color: red;
    text-align: center;
}
.usertext{
    word-break: break-all;
}