/*article css that creates style using flex and other goodies*/
article.tweet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-width: 5px;
  border-style: solid;
  margin-top: 40px;
  opacity: 0.4;
}
/**/
article.tweet:hover{
    box-shadow: 10px 10px 5px grey;
    opacity: 1;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  padding: 1.5em;
  background: none;
}
article.tweet p {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.imgAndName {
  display: flex;
  flex-direction: row;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid;
  border-top-width: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
